/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Abel', 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	margin: 20px auto;
	text-align: center;
	width: 1000px;
}

.links-and-logo nav {
	margin-bottom: 10px;
	position: fixed;
	background: hsla(231, 23%, 65%, 0.5);
	border-radius: 10%;
}

.links-and-logo nav a {
	text-decoration: none;
	color: gray;
	margin: auto 33px;
}

.links-and-logo nav a:first-child {
	margin-left: 0;
}

.links-and-logo nav a:hover {
	color: white;
	text-decoration: underline;
}

.links-and-logo nav img {
	margin-bottom: -10px;
	margin-left: 50px;
}

header .header-left {
	display: inline-block;
	width: 49%;
	text-align: center;
	vertical-align: top;
    margin-top: 90px;
}

header .header-left h1 {
	display: inline-block;
	font-size: 70px;
	margin-left: 20px;
}

header .header-left button {
	width: 170px;
    height: 35px;
    background: white;
	border: 1px solid black;
	margin-left: 20px;
}

header .header-left button:hover {
	background: black;
	color: white;
	cursor: pointer;
}

header .header-left button:active {
  transform: translateX(4px);
}

header .header-right {
	display: inline-block;
	width: 49%;
}

header .header-right img {
	display: inline-block;
	margin-top: 50px;
	margin-left: 30px;
}

.container .main-content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 70px;
	text-align: left;
}

.main-content .top-content-boxes {
	display: inline-block;
	width: 49%;
	margin-top: 30px;
	margin-left: 0;
}

.main-content .top-content-boxes h3, p {
	text-align: left;
}

.main-content .middle-img {
	width: 100%;
	margin: 30px 0;
}

.main-content .bottom-content-boxes {
	display: inline-block;
	width: 30%;
	margin-right: 30px;
	margin-bottom: 30px;
}

.container .contact-info {
	text-align: left;
	margin: 30px auto;
}

.container footer p {
	text-align: center;
}